#**Headphones as Dataframe and Display**

In [1]:
#import library
import pandas as pd

In [2]:
#import data
headphone = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Flipkart%20Headphones.csv')

In [6]:
headphone.head()

,Model,Company,Color,Type,Average Rating,Number of Ratings,Selling Price,Maximum Retail Price,Discount
0,5PLUS 5PHP28 Wired without Mic Headset,5PLUS,Red,On the Ear,3.6,101,496,3399,2903
1,A R Wireless compatible with Headset Bluetooth...,A R,Red,Multicolor,3.9,35280,188,799,611
2,Aerizo Wireless Touch R100 Earbuds (Black) Blu...,Aerizo,Black,True Wireless,4.0,1934,589,1298,709
3,Allmusic powerful driven bass with dynamic bea...,Allmusic,Multicolor,In the Ear,4.0,15841,260,1599,1339
4,Allmusic OPP.O Ultra HD Sound Premium Bass Spo...,Allmusic,Black,In the Ear,3.8,10766,270,999,729

In [7]:
headphone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 1000 non-null   object
 1   Company               1000 non-null   object
 2   Color                 1000 non-null   object
 3   Type                  1000 non-null   object
 4   Average Rating        1000 non-null   float64
 5   Number of Ratings     1000 non-null   int64
 6   Selling Price         1000 non-null   int64
 7   Maximum Retail Price  1000 non-null   int64
 8   Discount              1000 non-null   int64
dtypes: float64(1), int64(4), object(4)
memory usage: 70.4+ KB

In [8]:
headphone.describe()

,Average Rating,Number of Ratings,Selling Price,Maximum Retail Price,Discount
count,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000
mean,3.831000,5.004075e+04,832.875000,2423.043000,1590.168000
std,0.467459,1.572297e+05,812.535141,1774.025318,1341.379254
min,1.000000,0.000000e+00,88.000000,0.000000,-2991.000000
25%,3.600000,1.167500e+02,349.000000,1079.750000,697.500000
50%,3.900000,1.712000e+03,599.000000,1999.000000,1390.500000
75%,4.000000,1.332700e+04,999.000000,2999.000000,2250.000000
max,5.000000,1.299042e+06,7990.000000,16999.000000,12000.000000

In [10]:
headphone.columns

Index(['Model', 'Company', 'Color', 'Type', 'Average Rating',
       'Number of Ratings', 'Selling Price', 'Maximum Retail Price',
       'Discount'],
      dtype='object')

In [11]:
headphone.shape

(1000, 9)

In [12]:
headphone.corr()

,Average Rating,Number of Ratings,Selling Price,Maximum Retail Price,Discount
Average Rating,1.000000,0.203486,0.013916,-0.025261,-0.041838
Number of Ratings,0.203486,1.000000,-0.038969,-0.033778,-0.021067
Selling Price,0.013916,-0.038969,1.000000,0.696545,0.315461
Maximum Retail Price,-0.025261,-0.033778,0.696545,1.000000,0.900609
Discount,-0.041838,-0.021067,0.315461,0.900609,1.000000

In [13]:
headphone.nunique()

Model                   591
Company                 202
Color                    94
Type                     16
Average Rating           21
Number of Ratings       434
Selling Price           241
Maximum Retail Price    106
Discount                416
dtype: int64

#**Define y and X**

In [14]:
headphone.columns

Index(['Model', 'Company', 'Color', 'Type', 'Average Rating',
       'Number of Ratings', 'Selling Price', 'Maximum Retail Price',
       'Discount'],
      dtype='object')

In [15]:
y = headphone['Selling Price']
X = headphone[['Model', 'Company', 'Color', 'Type', 'Average Rating',
       'Number of Ratings', 'Maximum Retail Price',
       'Discount']]

In [16]:
# import function
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.7, random_state=2529)

In [18]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((700, 8), (300, 8), (700,), (300,))

In [19]:
X_train

,Model,Company,Color,Type,Average Rating,Number of Ratings,Maximum Retail Price,Discount
669,POKRYT Hot SaleASAP charging Version 5.0 Bluet...,POKRYT,Black,In the Ear,4.0,333036,1999,1100
583,N2B MAGNET-02 PACK OF 2 Bluetooth Headset,N2B,Black,True Wireless,3.5,35,1998,1744
688,"PunnkFunnk K20 Gaming Headset, Over Ear Gaming...",PunnkFunnk,Black,On the Ear,3.5,1713,2499,1550
422,Fire-Boltt BN1000 Bluetooth Headset,FIER,Black Red,In the Ear,4.0,1934,2499,1200
825,Tiitan N2 Bluetooth Headset,Tiitan,Black,In the Ear,3.6,1686,1599,1270
...,...,...,...,...,...,...,...,...
740,"SE WORLD P47 WIRELESS HEADPHONE Bluetooth, Wir...",SE,Black,On the Ear,3.8,42,1999,1600
399,FIER MAGNET-K1-I7 Pack of 3 Bluetooth Bluetoot...,FIER,Black,White,3.6,980,1999,1630
828,Togkart TWS i12 Bluetooth Headset,Togkart,Black,True Wireless,3.9,0,1499,1044
562,Mivi DuoPods M20 True Wireless Bluetooth Headset,Mivi,Blue,True Wireless,3.8,1748,2999,2200
352,DigiClues Bass-Dops Bluetooth Headset,DigiClues,Black,True Wireless,3.3,85,2999,2000